# content of build folder
bin/fargocpt_exe
build
build/*
src/build/

docs_source/.venv
docs/build

# Prerequisites
*__pycache__
*.d
*.dat
fargo

# vim files
*~
*.swp
*.swo

# Qt creator files
*.user
*.files
*.config
*.creator
*.includes

# Compiled Object files
*.slo
*.lo
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Compiled Static libraries
*.lib
*.a
*.la
*.lo
*.lai

# Compiled Dynamic libraries
*.dll
*.so
*.so.*
*.dylib

# Fortran module files
*.mod
*.smod
# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# vscode settings
.vscode

# Output files
out*/

notebook/

examples/*/


docs/

python-venv

testing.ipynb

make.log