###########################################################
#
#   Planetary system initial configuration
#
# Note: Accretion is the inverse of the accretion
#       time scale (1.0 for Kley's standard set-up)
#	Set to 0 to turn accretion off
###########################################################

# PlanetName 	Distance	Mass	 Accretion	FeelsDisk	FeelsOthers	Eccentricity	Radius	Temperature	Irradiate	PericenterAngle	RampupTime
Jupiter			1.0			3e-4	 0.0	  	NO			NO			0				0.01	5800		NO			0.0				0.0
